## Exploratory Data Analysis on Customer Loans in Finance

In [ ]:
#import pandas as pd
import data_frame_info #import DataFrameInfo
#from dataframetransform import DataFrameTransform
from data_transform import DataTransform
#from plotter import

In [ ]:
#create instances of each class

data = DataTransform()
info = DataFrameInfo()

In [ ]:
#load data as a dataframe
df = pd.read_csv('loan_payments.csv')

### Data Transformation

In [ ]:
#Exploring the data: print the shape, print list of columns

#### Convert columns to the correct format

First we look a

In [ ]:
#convert columns to the correct format

In [ ]:
#remove/impute missing values in the data

In [ ]:
#perform transformations on skewed columns

In [ ]:
#remove outliers from the data

In [ ]:
#drop overly correlated columns

### Analysis and Visualisation